/*
 * Print
 * --------------------------------------------------
 */
@page { 
	size: 210mm 297mm;
	margin: 10mm; 
}
@page { 
	@top-center { content: element(header) }
	@bottom-center { content: element(footer) }
}
@media print {
	#page_header {
		display: block;
		position: running(header);
	}
	#page_footer {
		display: block;
		position: running(footer);
		text-align: center;
	}
}
body.print {
	padding: 20px;
}


/*
/* css hack for android
 * --------------------------------------------------
 */
.android .p-pager-first > a:after {
	content: '⇤';
	background-color: #fff;
	margin-left: -1em;
}
.android .p-pager-last > a:after {
	content: '⇥';
	background-color: #fff;
	margin-left: -1em;
}

/*
 * Layout
 * --------------------------------------------------
 */
body {
	padding-top: 55px; /* used by "navbar-fixed-top" of #header_navbar */
}
body > img {
	display: none;
}
blockquote {
	font-size: inherit;
}
#header_navbar {
	opacity: 0.9;
}
#content_wrap {
	padding: 20px 0;
}
#footer_wrap {
}
#footer_navbar {
	border-radius: 0;
	margin: 0;
}
#footer_navi {
	padding-top: 15px;
	text-align: center;
}
#footer_site {
	color: #333;
	font-size: 10px;
	padding: 15px;
	text-align: center;
}
#ads_head {
	margin-bottom: 20px;
}
#ads_foot {
	margin: 20px 0;
}

/*
 * Side Menu
 * --------------------------------------------------
 */
.side-carousel .panel-body {
	padding: 0;
}
.side-navi .panel-body {
	padding: 2px 5px;
}
.side-navi ul.nav > li {
	border-bottom: solid 1px #ccc;
	display: list-item;
}
.side-navi ul.nav > li:last-child {
	border-bottom: none;
}
.side-navi ul.nav > li > a {
	padding: 5px 1.5em;
}
.side-navi ul.nav  > li.active {
	font-weight: bold;
	font-style: italic;
	list-style: inside circle;
}
.side-navi ul.nav  > li.active > a {
	padding: 5px 0.5em;
}
.firefox .side-navi ul.nav > li.active,
.edge .side-navi ul.nav > li.active,
.msie .side-navi ul.nav > li.active {
	font-weight: bold;
	list-style: none;
}
.firefox .side-navi ul.nav  > li.active > a,
.edge .side-navi ul.nav > li.active > a,
.msie .side-navi ul.nav > li.active > a {
	padding: 5px 20px;
}

/* ----------------------------------------------------
 * Style
 * -------------------------------------------------- */
.navbar-default .navbar-brand {
	background: url(../img/panda-48.png) left center no-repeat;
	font-weight: bold;
	padding-left: 60px;
}

.navbar-header {
	padding-right: 10px;
}
#site_search {
	margin-top: 8px;
}
#site_search, #site_search * {
	display: inline-block;
	white-space: nowrap;
}
#site_name {
	color: #FF7F50;
	display: inline-block;
	font-weight: bold;
	padding: 0 8px 0 0;
	text-decoration: none;
	vertical-align: middle;
}
a.#site_name:hover {
	text-decoration: none;
}
#site_search_text {
	width: 140px;
}

/* ----------------------------------------------------
 * ListView Style
 * -------------------------------------------------- */
.p-lv-cc-styleField-R {
	color: red;
}
.p-lv-cc-styleField-G {
	color: green;
}
.p-lv-cc-styleField-B {
	color: blue;
}
