<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
						  https://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>azure-auth</id>
			<configuration>
				<client>${env.AZURE_APP_ID}</client>
				<tenant>${env.AZURE_TENANT}</tenant>
				<key>${env.AZURE_PASSWORD}</key>
				<environment>AZURE</environment>
			</configuration>
		</server>
	</servers>
	<profiles>
		<profile>
			<id>allow-snapshots</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>snapshots-repo</id>
					<url>https://oss.sonatype.org/content/repositories/snapshots</url>
					<releases><enabled>false</enabled></releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>
