/*
 * Style twaks
 * --------------------------------------------------
 */
body {
	padding-top: 55px;
}

footer {
	padding-left: 15px;
	padding-right: 15px;
}


/*
 * Print
 * --------------------------------------------------
 */
@page { 
	size: 210mm 297mm;
	margin: 10mm; 
}
@page { 
	@top-center { content: element(header) }
	@bottom-center { content: element(footer) }
}
@media print {
	#page_header {
		display: block;
		position: running(header);
	}
	#page_footer {
		display: block;
		position: running(footer);
		text-align: center;
	}
}

/*
 * Sidebar
 * --------------------------------------------------
 */
.sidebar-nav .panel-body {
	padding: 5px;
}
.sidebar-nav ul.nav li {
	border-bottom: solid 1px #ccc;
}
.sidebar-nav ul.nav > li:last-child {
	border-bottom: none;
}
